In [5]:
import yfinance
import pandas as pd

stock = yfinance.Ticker("AETF.AT")
info = stock.info
history = stock.history(period="1y")
df = pd.DataFrame(history)
print(df)

                                Open       High        Low      Close  Volume  \
Date
2024-12-05 00:00:00+02:00  34.073257  34.620152  34.073257  34.620152    2430
2024-12-06 00:00:00+02:00  34.620152  34.732456  34.483429  34.576202    4788
2024-12-09 00:00:00+02:00  34.625034  34.971722  34.546906  34.971722    6512
2024-12-10 00:00:00+02:00  34.854530  34.966839  34.717808  34.742226    8582
2024-12-11 00:00:00+02:00  34.717808  34.786171  34.625034  34.717808    2811
...                              ...        ...        ...        ...     ...
2025-12-01 00:00:00+02:00  53.650002  53.650002  53.000000  53.410000    1847
2025-12-02 00:00:00+02:00  54.000000  54.000000  53.630001  53.660000    2478
2025-12-03 00:00:00+02:00  53.660000  53.669998  53.139999  53.180000    1750
2025-12-04 00:00:00+02:00  53.410000  53.410000  52.880001  53.250000    5965
2025-12-05 00:00:00+02:00  53.380001  53.540001  53.380001  53.480000     555

                           Dividends  Stock Splits  Capital Gains
Date
2024-12-05 00:00:00+02:00        0.0           0.0            0.0
2024-12-06 00:00:00+02:00        0.0           0.0            0.0
2024-12-09 00:00:00+02:00        0.0           0.0            0.0
2024-12-10 00:00:00+02:00        0.0           0.0            0.0
2024-12-11 00:00:00+02:00        0.0           0.0            0.0
...                              ...           ...            ...
2025-12-01 00:00:00+02:00        0.0           0.0            0.0
2025-12-02 00:00:00+02:00        0.0           0.0            0.0
2025-12-03 00:00:00+02:00        0.0           0.0            0.0
2025-12-04 00:00:00+02:00        0.0           0.0            0.0
2025-12-05 00:00:00+02:00        0.0           0.0            0.0

[249 rows x 8 columns]

In [11]:
print(df['Close'])

Date
2024-12-05 00:00:00+02:00    34.620152
2024-12-06 00:00:00+02:00    34.576202
2024-12-09 00:00:00+02:00    34.971722
2024-12-10 00:00:00+02:00    34.742226
2024-12-11 00:00:00+02:00    34.717808
                               ...
2025-12-01 00:00:00+02:00    53.410000
2025-12-02 00:00:00+02:00    53.660000
2025-12-03 00:00:00+02:00    53.180000
2025-12-04 00:00:00+02:00    53.250000
2025-12-05 00:00:00+02:00    53.480000
Name: Close, Length: 249, dtype: float64

In [12]:
print(df['Dividends'])

Date
2024-12-05 00:00:00+02:00    0.0
2024-12-06 00:00:00+02:00    0.0
2024-12-09 00:00:00+02:00    0.0
2024-12-10 00:00:00+02:00    0.0
2024-12-11 00:00:00+02:00    0.0
                            ...
2025-12-01 00:00:00+02:00    0.0
2025-12-02 00:00:00+02:00    0.0
2025-12-03 00:00:00+02:00    0.0
2025-12-04 00:00:00+02:00    0.0
2025-12-05 00:00:00+02:00    0.0
Name: Dividends, Length: 249, dtype: float64

In [30]:
print(df.column['Date'])

AttributeError: 'DataFrame' object has no attribute 'column'

In [32]:
history = stock.history(period="5d")
df = pd.DataFrame(history)
print(df)

                                Open       High        Low      Close  Volume  \
Date
2025-12-01 00:00:00+02:00  53.650002  53.650002  53.000000  53.410000    1847
2025-12-02 00:00:00+02:00  54.000000  54.000000  53.630001  53.660000    2478
2025-12-03 00:00:00+02:00  53.660000  53.669998  53.139999  53.180000    1750
2025-12-04 00:00:00+02:00  53.410000  53.410000  52.880001  53.250000    5965
2025-12-05 00:00:00+02:00  53.380001  53.540001  53.380001  53.439999     717

                           Dividends  Stock Splits  Capital Gains
Date
2025-12-01 00:00:00+02:00        0.0           0.0            0.0
2025-12-02 00:00:00+02:00        0.0           0.0            0.0
2025-12-03 00:00:00+02:00        0.0           0.0            0.0
2025-12-04 00:00:00+02:00        0.0           0.0            0.0
2025-12-05 00:00:00+02:00        0.0           0.0            0.0

In [34]:
for i in df:
    print(i)

Open
High
Low
Close
Volume
Dividends
Stock Splits
Capital Gains

In [35]:
df_data = df[['Open','Dividends']]

In [36]:
df_data

                                Open  Dividends
Date
2025-12-01 00:00:00+02:00  53.650002        0.0
2025-12-02 00:00:00+02:00  54.000000        0.0
2025-12-03 00:00:00+02:00  53.660000        0.0
2025-12-04 00:00:00+02:00  53.410000        0.0
2025-12-05 00:00:00+02:00  53.380001        0.0

In [39]:
df_data.max()

Open         54.0
Dividends     0.0
dtype: float64

In [41]:
df_data.index

DatetimeIndex(['2025-12-01 00:00:00+02:00', '2025-12-02 00:00:00+02:00',
               '2025-12-03 00:00:00+02:00', '2025-12-04 00:00:00+02:00',
               '2025-12-05 00:00:00+02:00'],
              dtype='datetime64[ns, Europe/Athens]', name='Date', freq=None)

In [43]:
for i in range(5):
    print(df_data.iloc[i])

Open         53.650002
Dividends     0.000000
Name: 2025-12-01 00:00:00+02:00, dtype: float64
Open         54.0
Dividends     0.0
Name: 2025-12-02 00:00:00+02:00, dtype: float64
Open         53.66
Dividends     0.00
Name: 2025-12-03 00:00:00+02:00, dtype: float64
Open         53.41
Dividends     0.00
Name: 2025-12-04 00:00:00+02:00, dtype: float64
Open         53.380001
Dividends     0.000000
Name: 2025-12-05 00:00:00+02:00, dtype: float64

In [45]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2025-12-01 00:00:00+02:00,53.650002,53.650002,53.000000,53.410000,1847,0.0,0.0,0.0
2025-12-02 00:00:00+02:00,54.000000,54.000000,53.630001,53.660000,2478,0.0,0.0,0.0
2025-12-03 00:00:00+02:00,53.660000,53.669998,53.139999,53.180000,1750,0.0,0.0,0.0
2025-12-04 00:00:00+02:00,53.410000,53.410000,52.880001,53.250000,5965,0.0,0.0,0.0
2025-12-05 00:00:00+02:00,53.380001,53.540001,53.380001,53.439999,717,0.0,0.0,0.0

In [53]:
df.iloc[:]

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2025-12-01 00:00:00+02:00,53.650002,53.650002,53.000000,53.410000,1847,0.0,0.0,0.0
2025-12-02 00:00:00+02:00,54.000000,54.000000,53.630001,53.660000,2478,0.0,0.0,0.0
2025-12-03 00:00:00+02:00,53.660000,53.669998,53.139999,53.180000,1750,0.0,0.0,0.0
2025-12-04 00:00:00+02:00,53.410000,53.410000,52.880001,53.250000,5965,0.0,0.0,0.0
2025-12-05 00:00:00+02:00,53.380001,53.540001,53.380001,53.439999,717,0.0,0.0,0.0

In [64]:
df = df.reset_index()

In [65]:
df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
0,2025-12-01 00:00:00+02:00,53.650002,53.650002,53.000000,53.410000,1847,0.0,0.0,0.0
1,2025-12-02 00:00:00+02:00,54.000000,54.000000,53.630001,53.660000,2478,0.0,0.0,0.0
2,2025-12-03 00:00:00+02:00,53.660000,53.669998,53.139999,53.180000,1750,0.0,0.0,0.0
3,2025-12-04 00:00:00+02:00,53.410000,53.410000,52.880001,53.250000,5965,0.0,0.0,0.0
4,2025-12-05 00:00:00+02:00,53.380001,53.540001,53.380001,53.439999,717,0.0,0.0,0.0

In [68]:
df['Date'] = pd.to_datetime(df['Date']).dt.date

In [69]:
df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
0,2025-12-01,53.650002,53.650002,53.000000,53.410000,1847,0.0,0.0,0.0
1,2025-12-02,54.000000,54.000000,53.630001,53.660000,2478,0.0,0.0,0.0
2,2025-12-03,53.660000,53.669998,53.139999,53.180000,1750,0.0,0.0,0.0
3,2025-12-04,53.410000,53.410000,52.880001,53.250000,5965,0.0,0.0,0.0
4,2025-12-05,53.380001,53.540001,53.380001,53.439999,717,0.0,0.0,0.0

In [87]:
for row in df.itertuples():
    print(row.Date, row.Close)

2025-12-01 53.40999984741211
2025-12-02 53.65999984741211
2025-12-03 53.18000030517578
2025-12-04 53.25
2025-12-05 53.439998626708984

In [ ]:
-  {df['Close']}  -  {df['Dividends']}'